{% extends 'dezi/layouts/topnavblank.html' %}
<h1></h1>
{% block context %}

<!-- Card -->
<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">Registration Form</h3>
  </div>
  <!-- /.card-header -->
  <!-- form start -->
  <form action="" method="POST">
    {% csrf_token %}
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Username:</label>
        {{ form.username }} {% if form.errors.username %}
        <label for="" class="text-danger"> {{ form.errors.username }} </label>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address:</label>
        {{ form.email }} {% if form.errors.email %}
        <label for="" class="text-danger"> {{ form.errors.email }} </label>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Password:</label>
        {{ form.password1 }} {% if form.errors.password1 %}
        <label for="" class="text-danger"> {{ form.errors.password1 }} </label>
        {% endif %}
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Confirm password:</label>
        {{ form.password2 }} {% if form.errors.password2 %}
        <label for="" class="text-danger"> {{ form.errors.password2 }} </label>
        {% endif %}
      </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
<!-- /.card -->

{% endblock context %}
