{% extends 'dezi/layouts/topnavblank.html' %} {% load static %}
<h1></h1>
{% block context %}
<p>This is the home page</p>

<div class="row justify-content-center">
  <div class="col-md-10">
    <!-- start of datatable card -->
    <div class="card">
      <div class="card-header">
        <h1 class="fw-bold">Image CRUD in Django</h1>
      </div>
      <!-- /.card-header -->
      <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Descritpion</th>
              <th>Price</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            {% for p in products %}
            <tr>
              <td>{{ p.id }}</td>
              <td>{{ p.name }}</td>
              <td>{{ p.description }}</td>
              <td>{{ p.price }}</td>
              {% if p.image %}
              <td>
                <!-- on localhost will work
                <img
                  src="{{ p.image.url }}"
                  alt="product image"
                  class="prod-size"
                  height="90px"
                /> -->
                <img
                  src="{% static p.image %}"
                  alt="product image"
                  class="prod-size"
                  height="90px"
                />
              </td>
              {% else %}
              <td>
                <img
                  src="{% static 'img/text.png' %}"
                  alt="product image not found"
                  class="prod-size"
                />
              </td>
              {% endif %}
              <td>
                <a
                  href="{% url 'editProduct' p.id %}"
                  class="btn btn-success badge"
                  >EDIT</a
                >
                <a
                  href="{% url 'deleteProduct' p.id %}"
                  class="btn btn-danger badge delete"
                  >Delete</a
                >
              </td>
            </tr>
            {% endfor %}
          </tbody>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Descritpion</th>
              <th>Price</th>
              <th>Image</th>
              <th>Action</th>
            </tr>
          </tfoot>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.End of datatable card -->
  </div>
</div>

{% endblock context %} {% block scripts %}

<!-- DataTable specific  script -->
<script>
  $(function () {
    $("#example1")
      .DataTable({
        responsive: true,
        lengthChange: false,
        autoWidth: false,
        buttons: ["copy", "csv", "excel", "pdf", "print", "colvis"],
      })
      .buttons()
      .container()
      .appendTo("#example1_wrapper .col-md-6:eq(0)");
    $("#example2").DataTable({
      paging: true,
      lengthChange: false,
      searching: false,
      ordering: true,
      info: true,
      autoWidth: false,
      responsive: true,
    });
  });
</script>
<!-- ./ End of  DataTable specific  script -->

{% endblock scripts %}
